<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ini catatan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>Halaman ini adalah catatan http get dan post untuk latihannya ada di tab 2 dengan judul "Halaman 1"</ion-label>
  <ion-item>
    <ion-input type="text" [(ngModel)]="post.userId"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" [(ngModel)]="post.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" [(ngModel)]="post.body"></ion-input>
  </ion-item>
  <ion-button (click)="submit()">SIMPAN DATA</ion-button>

  <ion-list>
    <ion-item *ngFor="let dPost of dataPOST">
      {{dPost.title}}
    </ion-item>
  </ion-list>

  
</ion-content>
