<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hal 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input placeholder="id"type="text" [(ngModel)]="post.id"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="email" type="text" [(ngModel)]="post.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="First Name" type="text" [(ngModel)]="post.first_name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Last Name" type="text" [(ngModel)]="post.last_name"></ion-input>
  </ion-item>
  <ion-button color="secondary"(click)="submit()">Tambah data</ion-button>
  <ion-button color="danger"(click)="delete()">Hapus data</ion-button>
  <ion-button (click)="update()">Update data</ion-button>

</ion-content>
